.font_sub_text {
  font-size: 12px;
}
.font_content {
  font-size: 14px;
}
.font_mid {
  font-size: 16px;
  font-weight: bold;
}
.font_number_large {
  font-size: 16px;
  font-weight: bold;
}
.font_number_small {
  font-size: 12px;
  font-weight: bold;
}
.font_sub_content {
  font-size: 12px;
}
.font_buttonTxt {
  font-size: 14px;
  font-weight: bold;
}
.font_title_contents {
  font-size: 14px;
}
.font_title_icon {
  font-size: 12px;
}
.font_title_iconMenu {
  font-size: 10px;
}
.font_title_big {
  font-size: 22px;
}

.content {
  padding: 0 20px;
  padding-bottom: 80px;
}

.border_bglight_gray {
  border-bottom: 1px solid #f2f3f5;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

/*메인*/

input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #3182f5;
  position: relative;
  border-radius: 50%;
}
input[type='checkbox'] + label::after {
  content: '✔';
  font-size: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  color: #3182f5;
}
input[type='checkbox']:checked + label {
  background: #3182f5;
}

input[type='checkbox']:checked + label::after {
  content: '✔';
  font-size: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  color: white;
}

input[type='radio'] {
  display: none;
}
input[type='radio'] + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #3182f5;
  position: relative;
  border-radius: 50%;
}
input[type='radio']:checked + label {
  background: #3182f5;
}

input[type='radio']:checked + label::after {
  content: '✔';
  font-size: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  color: white;
}

input[type='text'] {
  width: 100%;
  border: 0;
  background: #f2f3f5;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
}

/* select {
  border-radius: 18px;
  border-color: #3182f5;
  padding: 10px 15px;
  padding-right: 40px;
  appearance: none;
  background-image: url(@/assets/svg/arrow_bottom.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 16px;
} */

textarea {
  background: #f2f3f5;
  border: 0;
  border-radius: 12px;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  box-sizing: border-box;
  max-height: 500px;
  overflow-y: scroll;
}
